.content {
  max-width: 984px;
  opacity: 1;
  margin: auto;
}
.content__title {
  color: #fff;
  font-family: inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}
.content__note {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  color: #fff;
  margin-top: 20px;
}
.content__author {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  color: #fff;
  margin-top: 20px;
}
.content__info {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .content__title {
    font-size: 45px;
    line-height: 49px;
    max-width: 530px;
  }
  .content__note {
    font-size: 24px;
    line-height: 34px;
  }
  .content__author {
    font-size: 24px;
    line-height: 34px;
  }
  .content__info {
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width: 320px) {
  .content__title {
    font-size: 32px;
    line-height: 35px;
  }
  .content__note {
    font-size: 24px;
    line-height: 30px;
  }
}
