.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
  margin: auto;

}
.logo__imagen {
  width: 32px;
  height: 32px;
}
.logo__tripleten {
  margin: auto;
}
.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 40px;
}
.header__title {
  font-family: inter;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
  max-width: 720px;
  max-height: 200px;
  text-align: center;
}
.header__subtitle {
  line-height: 34px;
  font-family: inter;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  max-width: 720px;
  max-height: 72px;
}
.header__image {
  max-width: 984px;
  max-height: 615px;
  margin-top: 64px;
}