.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 24px;
  margin-bottom: 40px;
}

.header__title {
  font-family: inter;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
  max-width: 720px;
  text-align: center;
}
.header__subtitle {
  line-height: 34px;
  font-family: inter;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  max-width: 720px;
}
.header__image {
  width: 100%;
  max-width: 984px;
  margin-top: 64px;
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 75px;
    line-height: 79px;
    max-width: 530px;
  }
  .header__subtitle {
    font-size: 30px;
    line-height: 36px;
  }
}
@media screen and (max-width: 320px) {
  .header__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 228px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }
}
