* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    font-family: "inter", "Arial", sans-serif;
    width: 1280;
    height: 2008;
    opacity: 1;
    background-color: #2A2C2F;

}