.photo_grid {
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin: 118px auto;
}
.photo_grid__images {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 768px) {
  .photo_grid {
    display: grid;
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    margin: 70px auto;
  }
}
@media screen and (max-width: 320px) {
  .photo_grid {
    display: grid;
    max-width: 288px;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    margin: 38px auto;
  }
}
