.places {
  display: flex;
  flex-direction: column;
}
.places__city {
  display: grid;
  max-width: 984px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat (2, 1fr);
  margin: 80px auto;
  column-gap: 40px;
  row-gap: 48px;
}
.places__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  color: white;
  max-width: 460px;
  padding-bottom: 48px;
}
.places__artist {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.places__artist-title {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 12%;
  text-transform: uppercase;
  color: #aaaaaa;
  padding-bottom: 8px;
}
.places__artist-autors {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #ffffff;
}
.places__image {
  max-width: 460px;
  max-height: 460px;
}
.places__info {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #ffffff;
}
.places__buttom {
  text-decoration: none;
  display: inline-block;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  width: fit-content;
  margin-top: 48px;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  gap: 10px;
  color: #ffffff;
}
.places__buttom_style {
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
}
@media screen and (max-width: 768px) {
  .places__city {
    row-gap: 28px;
  }
  .places__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 42px;
    max-width: 340px;
  }
  .places__image {
    max-width: 340px;
  }
  .places__info {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .places__city {
    row-gap: 28px;
    width: 100%;
    max-width: 320px;
    grid-template-columns: repeat(1, 1fr);
    margin: 62px auto;
    row-gap: 30px;
  }
  .places__title {
    font-size: 32px;
    max-width: 288px;
    padding-bottom: 0px;
  }
  .places__artist {
    padding-top: 20px;
  }
  .places__image {
    max-width: 320px;
  }
  .places__info {
    font-size: 16px;
  }
}
